@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .clip-left-curve {
    clip-path: polygon(
      0% 15%,
      100% 0%,
      100% 85%,
      0% 100%
    );
  }

  @keyframes floatUpDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* উপরে যাবে */
  }
  100% {
    transform: translateY(0px); /* আবার নিচে আসবে */
  }
}

.float-img {
  animation: floatUpDown 2.5s ease-in-out infinite;
}
}